@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-geist-sans: "geist-sans", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
    --font-jetbrains-mono: "jetbrains-mono", SFMono-Regular, Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }
  :root[class~="dark"],
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  @font-face {
    font-family: "geist-sans";
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
    src: url("/fonts/Geist/GeistVariableVF.woff2") format("woff2");
  }
  @font-face {
    font-family: "jetbrains-mono";
    font-weight: 300 800;
    font-style: normal;
    font-display: swap;
    font-stretch: normal;
    src: url("/fonts/JetBrainsMono/JetBrainsMono[wght].woff2") format("woff2");
  }

  @font-face {
    font-family: "jetbrains-mono";
    font-weight: 300 800;
    font-style: italic;
    font-display: swap;
    font-stretch: normal;
    src: url("/fonts/JetBrainsMono/JetBrainsMono-Italic[wght].woff2")
      format("woff2");
  }
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    font-family: var(--font-geist-sans);
    /* anti-aliasing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Ensure Shiki text wrapping works. */
  pre.shiki {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: var(--font-jetbrains-mono);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
